@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$corDeFundo: #f5f6fa;
$corPrincipal: #182C61;
$corBotao: #44bd32;
$fontePadrao: Roboto, sans-serif;
